<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Inarau</title>
  <%= stylesheet_link_tag    'bootstrap', 'bootstrap-theme', 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', 'http://getbootstrap.com/dist/js/bootstrap.min.js', 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='jimbo'>
	<nav class="navbar" id='topper'>
        	<div class="container">
	          	<div class="navbar-header">
	            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
		             	<span class="sr-only">Toggle navigation</span>
		              	<span class="icon-bar"></span>
		              	<span class="icon-bar"></span>
		              	<span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand nav-link-color" href="/">I Narau</a>
		        </div>
	        	<div class="navbar-collapse collapse">
	            	<ul class="nav navbar-nav">
	            		<% if session[:user_id] %>
			        	<li><a class=" nav-link-color" href="/users/<%= session[:user_id] %>"><%= User.find(session[:user_id]).username %>'s Homepage</a></li>
			        	<% end %>
			            <li><a class=" nav-link-color" href="/sessions/1">About</a></li>
			            	<% if session[:user_id] %>
			            <li><a class=" nav-link-color" href="/katas">Kata</a></li>
			            <li class="dropdown">
	                	<a href="#" class="dropdown-toggle nav-link-color" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
	                	<ul class="dropdown-menu">
	                  	<li><a class=" nav-link-color" href="/users/<%= session[:user_id] %>/edit">Update Account</a></li>
	                  	<li><a class=" nav-link-color" href="/sessions/<%= session[:user_id] %>" data-method='delete'>Logout</a></li>
	                  		<% if User.find(session[:user_id]).admin == 1 %>
	                  	<li><a class=" nav-link-color" href="/admins">Admin Dashboard</a></li>
	                  		<% end %>
	                  		<% else %>
	                  	<li><a class=" nav-link-color" href="/sessions/new">Login</a></li>
	                  	<li><a class=" nav-link-color" href="/users/new">Register</a></li>
	                  		<% end %>
	                </ul>
	              	</li>
	          		</ul>
	          	</div><!--/.nav-collapse -->
	       	</div>
	    </nav>

<%= yield %>

</body>
</html>
